.unidades-main-container {
    display: grid;
    width: 100%;
    box-sizing: border-box;
}

.unidades-header {
    display:flex;
    justify-content: center;
    margin: 1rem 2rem;
}

.mobile-list {
    width: 100%;
    box-sizing: border-box;
    padding:0.3rem;
}

.unidad-card {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: black;
}

.unidad-card > button {
    width: 100%;
    border: none;
    background-color: transparent;
}

.unidad-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0;
    font-size: 1.1rem;
}

.unidad-status-row {
    color: black;
    display: grid;
    justify-content: end;
}

.unidad-row-arrow {
    height: 1.5rem;
    display: grid;
    justify-content: end;
}

.unidad-row-arrow > img{
    height: 1.5rem;
}
.disabled {
    background-color: red;
}

.unidad-row:last-child {
    border-bottom: none;
}

.unidad-row span {
    color: #666;
}

.unidad-row strong {
    color: #222;
}

@media (max-width: 600px) {
    .mobile-list {
        display: block;
    }
}